.qa-answers-header {
  padding: 1.5em;
}

.qa-comments {
  width: $topic-body-width;
}

.qa-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;

  .qa-button {
    .d-icon {
      font-size: var(--font-up-6);
    }
  }
}

.qa-button,
.qa-post-toggle-voters {
  padding: 0em;
}
