.qa-post {
  padding-right: 20px;
}

.qa-post + article {
  position: relative;
  float: left;
  width: calc(100% - 65px);
}

.topic-post.answer .topic-body {
  width: 640px;
}

.topic-post.comment {
  padding-left: 105px;

  .topic-body {
    width: 600px;
    padding: 10px 10px 10px 0;

    .regular {
      margin-top: 0;
    }

    .post-menu-area {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}
