.topic-post.comment {
  padding-left: calc(5% + 30px);

  .topic-body {
    .topic-meta-data {
      margin-left: 30px;
    }

    .regular {
      margin-top: 0;
    }

    .post-menu-area {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}

.qa-post {
  padding-right: 4%;
}

.qa-post + article {
  overflow: hidden;
}

.time-gap + .topic-post.answer, .time-gap + .topic-post.comment {
  .topic-body, .topic-avatar {
    padding-top: 15px;
  }

  .qa-post {
    margin-top: 15px;
  }
}
