<section class='field'>
  <label>
    {{input type="checkbox" checked=category.custom_fields.qa_enabled}}
    {{i18n 'category.enable_qa'}}
  </label>
</section>

<section class='field'>
  <label>
    {{input type="checkbox" checked=category.custom_fields.qa_one_to_many}}
    {{i18n 'category.qa_one_to_many'}}
  </label>
</section>
