<h3>{{i18n 'category.qa_settings_heading'}}</h3>
<section class="field">
  <label>
    <Input @type="checkbox" @checked={{this.category.custom_fields.create_as_qa_default}} />
    {{i18n "category.create_as_qa_default"}}
  </label>
</section>
