.qa-topic {
  .time-gap,
  .topic-post-visited-line,
  .timeline-date-wrapper,
  .timeline-last-read,
  .timeline-ago {
    display: none;
  }

  .time-gap + .topic-post,
  .topic-post-visited + .topic-post {
    .topic-avatar,
    .topic-body {
      border-top: 1px solid var(--primary-low);
    }
  }
}

.qa-answers-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  padding-right: 0;

  .qa-answers-headers-count {
    font-size: var(--font-up-1);
  }

  .qa-answers-headers-sort {
    margin-left: auto;

    .btn {
      color: var(--primary-high);
      border: 1px solid var(--primary-low-mid);
      &:hover {
        background-color: var(--primary-very-low);
      }

      + .btn {
        border-left: none;
      }

      &:first-of-type {
        margin-left: 0.5em;
      }
    }

    .btn.active[disabled] {
      background-color: var(--primary-low);
      color: var(--primary);
      opacity: 1;
      cursor: default;
    }
  }
}

.qa-comments {
  width: 100%;
  padding-top: 5px;
}

.qa-comment {
  font-size: var(--font-down-1);
  border-top: 1px solid var(--primary-low);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.7em 0;

  &.qa-comment-deleted {
    background-color: var(--danger-low-mid);
  }

  .qa-comment-actions-vote {
    margin-right: 0.5em;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: flex-start;

    .qa-comment-actions-vote-count {
      text-align: center;
      width: auto;
      min-width: 16px;
      padding: 0.1em 0;
      color: var(--primary-low-mid-or-secondary-high);
    }

    .btn {
      font-size: var(--font-up-3);
      background: none;
      padding: 0;

      &.qa-button-voted {
        .d-icon {
          color: var(--success);
        }
      }
    }
  }

  .qa-comment-post {
    .qa-comment-cooked {
      p {
        display: inline;
      }
    }

    .qa-comment-info-separator {
      margin: 0 0.3em;
    }

    .qa-comment-info-username {
      display: inline;
      margin-right: 0.3em;
    }

    .qa-comment-info-created {
      color: var(--primary-med-or-secondary-med);
    }

    .qa-comment-actions {
      display: none;
      margin-left: 0.3em;

      .qa-comment-actions-edit-link {
        color: var(--primary-med-or-secondary-med);
        margin-right: 0.25em;
      }

      .qa-comment-actions-delete-link {
        color: var(--primary-med-or-secondary-med);
      }

      .qa-comment-actions-delete-link:hover {
        color: var(--danger);
      }
    }
  }

  .qa-comment-editor {
    margin: 0.5em 0;
    width: 100%;

    textarea {
      width: 100%;
      margin-bottom: 0;
    }

    .qa-comment-editor-cancel {
      margin-left: 0.5em;
    }
  }

  &:hover {
    .qa-comment-actions {
      display: inline-block;
    }
  }
}

.qa-comment-composer {
  width: 100%;

  .qa-comment-composer-textarea {
    width: 100%;
    margin: 0.5em 0;
  }

  .qa-comment-composer-flash {
    width: 100%;
    color: var(--primary-med-or-secondary-med);

    &.error {
      color: var(--danger-hover);
    }

    margin-bottom: 0.5em;
  }
}

.qa-comments-menu {
  font-size: var(--font-down-1);
  margin: 0;

  .qa-comments-menu-composer-cancel {
    margin-left: 0.5em;
  }

  .qa-comments-menu-seperator {
    margin: 0 0.8em;
    display: inline;

    &::after {
      content: "|";
    }
  }

  .qa-comments-menu-show-more,
  .qa-comments-menu-add-link {
    display: inline;
  }
}

.qa-post {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;

  .qa-button {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: var(--font-up-5);
  }

  .qa-post-list {
    position: absolute;
    z-index: 2;
    background-color: var(--secondary);
    border: 1px solid var(--primary-low);
    box-shadow: shadow("card");
    display: flex;
    flex-direction: column;
    top: 4em;
    padding: 0.5em;
    max-width: 90vw;
    overflow: auto;

    .qa-post-list-voters-wrapper {
      display: flex;
      flex-direction: row;
    }
  }

  .qa-post-list-voters {
    display: flex;

    a {
      margin-left: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  .qa-post-list-count,
  .qa-post-list-icon {
    margin: 0.15em 0.25em 0 0.25em;
    font-size: var(--font-up-1);
    color: var(--primary-low-mid);
  }

  .qa-button-voted {
    .d-icon {
      color: var(--success);
    }
  }

  .qa-post-toggle-voters {
    padding-top: 0;
    padding-bottom: 0;
  }
}
