body.crawler,
body > noscript {
  .crawler-post {
    border-top: 3px solid var(--primary-low);
  }

  .qa-comments {
    padding-top: 15px;

    .qa-comment-row {
      display: flex;
      border-top: 1px solid var(--primary-low);
      padding: 5px 0px 5px 0px;

      .qa-comment-cooked p,
      .qa-comment-creator {
        display: inline;
      }

      .qa-comment-info-separator {
        display: inline;
        margin: 0 0.3em;
      }
    }
  }

  .qa-answer-count {
    padding-top: 20px;

    .qa-answer-count-span {
      display: none;
    }
  }
}
