.qa-post {
  float: left;

  .btn {
    background: white;

    &:hover {
      background: dark-light-diff($primary, $secondary, 65%, -75%);
      color: $secondary;
    }
  }

  .count {
    text-align: center;
  }
}

.qa-button .d-icon {
  margin: 0;
}

.time-gap + .topic-post.answer, .time-gap + .topic-post.comment {
  .topic-avatar, .topic-body {
    border-top: 1px solid $primary-low;
  }
}

.topic-post.answer+.time-gap, .topic-post.comment+.time-gap {
  display: none;
}

nav.post-controls button.comment {
  font-size: 1em;
}

.topic-post {
  &.comment {
    display: none;

    &.show {
      display: block;
    }

    .avatar-flair {
      width: 12px;
      height: 12px;
      right: 16px;

      i {
        font-size: 8px;
      }
    }
  }

  &.comment, &.answer {
    .post-notice.new-user {
      display: none;
    }
  }
}

.show-comments {
  margin-bottom: 10px;
  display: inline-block;
}

.answer .show-comments {
  padding-left: 105px;
}

.vote-container {

  .vote-links {
    text-align: right;

    a {
      margin-left: 5px;
    }
  }

  .voters {
    margin-top: 5px;
    text-align: right;

    a {
      margin-right: 5px;
    }
  }
}

// identical to classes in other plugins

.qa-topic-tip {
  position: relative;
  margin-top: 5px;

  .tip-details {
    background-color: dark-light-diff($primary, $secondary, 95%, -85%);
    box-shadow: shadow('dropdown');
    padding: 10px 15px;
    position: absolute;
    top: 32px;
    z-index: 9999;
    width: 300px;

    p {
      margin: 0;
    }

    ul {
      margin-bottom: 0;
    }

    li {
      margin: 2px 0;
    }
  }
}

// rtl

html.rtl {
  .qa-post {
    padding-right: 0;
    padding-left: 20px;
    float: right;

    & + article {
      float: right;
    }
  }

  .topic-post.comment {
    padding-left: 0;
    padding-right: 110px;
  }

  .vote-container {
    .voters, .vote-links {
      text-align: left;
    }
  }
}
