.qa-tip-container {
  position: relative;
}

.qa-tip {
  position: relative;

  .btn {
    float: left;
  }

  .fa {
    margin-right: 2px;
  }
}

.qa-post {
  float: left;

  .btn {
    background: white;

    &:hover {
      background: dark-light-diff($primary, $secondary, 65%, -75%);
      color: $secondary;
    }
  }

  .count {
    text-align: center;
  }
}

.time-gap+.topic-post.answer .topic-body, .time-gap+.topic-post.comment .topic-body {
  border-top: 1px solid $primary-low;
}

.topic-post.answer+.time-gap, .topic-post.comment+.time-gap {
  display: none;
}

// identical to classes in other plugins

.tip-details {
  background-color: dark-light-diff($primary, $secondary, 95%, -85%);
  padding: 10px 15px;
  position: absolute;
  top: 22px;
  z-index: 9999;
  width: 300px;

  ul {
    margin-bottom: 0;
  }

  li {
    margin: 2px 0;
  }
}
