{{#if model.showQaTip}}
  {{d-button class="btn btn-small" action="toggleDetails" label="topic.tip.qa.title" icon="info"}}
  {{#if showDetails}}
    <div class="tip-details">
      {{{i18n 'topic.tip.qa.details'}}}
    </div>
  {{/if}}
{{/if}}
